@import '../common-imports';

.img-card-grid {
    @include media-breakpoint-up(md){
        margin-top: 11.2rem;
    }
    h2,h5{
        font-family: $font-family-sans-serif;
    }
}
.card-2 {
    &__img {
            img {
            border-radius: 50%;
            aspect-ratio: 1;
        }
    }
}
