@import '../common-imports';

.leadspace {
    &-wrapper{
        height: calc(100vh - 13.3rem)
    }
    &-content {
        max-width: 65rem;
        padding-bottom: 10vh;
        margin-top: 25.6rem;
        box-shadow: -1px -27px 76px 30px rgba(255,255,255,0.75);
        background-color: rgba(255, 255, 255 , 0.6);
        @include media-breakpoint-up(xl) {
            padding-bottom: 22vh;
        }
    }
    &-title {
        border-bottom: 0.4rem solid $success;
    }
    &-subtitle{
        font-size: 1.8rem;
        line-height:3.2rem;
        @include media-breakpoint-up(md){
            font-size: 2rem;
        }
        @include media-breakpoint-up(xl){
            font-size: 2.4rem;
        }
    }
    .btn {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

}
