@import '../common-imports';


.testimonial-slider{
    @include media-breakpoint-up(md){
        margin-top: 11.2rem;
    }
    .btn{
        @include media-breakpoint-up(md){
            min-width: 22rem;
        }
    }
    .swiper{
        min-height: 29.8rem;
        &-pagination{
            bottom: 0;
            top: auto;
            &-bullet{
                width: 6.4rem;
                height: 0.2rem;
                border: 1rem;
                opacity: 1;
                background-color: $white;
                &-active{
                    background-color: $moss;
                }
            }
        }
    }
}