.btn {
    border-radius: 3rem;
    border: 1px solid transparent;
    padding: 1rem 1.6rem;
    @include media-breakpoint-up(md) {
    padding: 1.2rem 3.2rem;
    // min-width: 21.8rem;
    }
    &--small {
        @include media-breakpoint-down(md) {
            font-size: 1.2rem;
        }
    }
    &:hover {
        border-color: transparent;
        background: rgba($primary, 0.85);
    }
    &-teal {
        color: $white;
        &:hover {
            background-color: $lightteal;
        }
    }
    &-white {
        border-color: $grayneutraldark;
        background: $white;
        
        &:hover {
            background-color: $grayneutral;
            border-color: $teal;
            color: $primary;
        }
    }
    &-transparent {
        &:hover {
            background-color: rgba($white, 0.2);
        }
    }
}
